<div id="message-display"></div>
<div id="message-form">
  <form id="message-form" action="">
    <div class="field has-addons">
      <div class="control">
        <input id="message-input" class="input" type="text">
      </div>
      <div class="control">
        <input class="button is-primary" type="submit" value="Send Message">
      </div>
    </div>
  </form>
</div>
